@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #F4F0EA;
    color: #798252;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

header {
    background-color: #798252;
    color: #F4F0EA;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    background-color: #E6E2D3;
    padding: 1.5rem;
    border-radius: 8px;
    gap: 1rem;
}

.intro {
    text-align: center;
}

h2 {
    color: #331F19;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #CCD595;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: #CBBBA7
}

select {
    cursor: pointer;
    background-color: #CCD595;
    color: #331F19;
    border: none;
    border-radius: 5px;
    outline: none;
}

img {
    width: 5rem;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color:#CCD595;
    color:#331F19;
    padding: 1rem;
}

td {
    background-color: #E6E2D3;
    color: #331F19;
    padding: 1rem;
    text-align: center;
}

tfoot td {
    background-color: #798252;
    color: #F4F0EA;
    
}

details {
    background-color: #CCD595;
    padding: 1rem;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    color: #331F19;
    margin: 0.5rem;
}

ol {
    
    margin-left: 1.5rem;
}

ol li {
    padding: 0.2rem;
}

fieldset {
    border: 2px solid #CCD595;
    border-radius: 5px;
    padding: 1rem;
}

legend {
    padding: 0 0.5rem;
    color: #331F19;
}

textarea {
    border: 2px solid #CCD595;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #798252;
    color: #F4F0EA;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.2rem;
}

footer {
    background-color: #798252;
    padding: 2rem;
}

.paragrafo-footer {
    text-align: center;
    color: #F4F0EA;
    font-size: 0.9rem;
    margin-top: 1rem;
}

footer a {
    color: #CCD595;
    text-decoration: none;
}